@import '~antd/es/style/themes/default.less';

.card {
  margin-bottom: 24px;
}

.result {
  max-width: 560px;
  margin: 0 auto;
  padding: 24px 0 8px;
}
.cardList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rightCard {
  :global {
    .ant-card-body {
      //height: 200px;
    }
  }
}
.centerIcon {
  margin: 0 20px;
  color: #1890ff;
  font-size: 34px;
}
.spacrFrom {
  :global {
    .ant-space-align-center {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
  }
}
